  <div style="" class="ui vertical inverted sidebar menu left" id="toc">
  <div class="item">
    <a class="ui logo huge icon image" href="/">
      <img src="/extensions/cwicon.png">
    </a>
      <a href="/extensions/index.html">
        <b> Ray's Extensions</b>
      </a>
  </div>

  <a class="item" href="/extensions/IE-Sucks/index.html">
    <i class="download icon"></i> <b>IE Sucks Bar</b><br><b>Chrome Extension</b>
  </a>

  <a class="item" href="https://chrome.google.com/webstore/detail/xframe-assassin-by-x-ray/nigpljchmlcjkhbglkdimgaplklombph">
    <i class="cubes icon"></i> <b>XFrame Assassin</b><br><b>Chrome Extension</b>
  </a>
  <a class="item" href="http://rayanthony.io/xframeassassin/assassintest.html">
    <i class="download icon"></i> <b>Assassin Test</b><br><b>(health check)</b>
 
 </a>
<a class="item" href="https://chrome.google.com/webstore/detail/pink-floyd-the-wall-total/nbgcfebpdidohabcceopligemfigkche">
  <i class="cubes icon"></i><b>Pink Floyd</b><br><b>Theme</b>
</a>
<!--
<div class="item">
  <div class="ui small inverted header">Coming Soon</div>
  <div class="menu">

<a class="item" href="#coming-soon">
  <i class="cubes icon"></i><b>Rolling Stones</b><br><b>Theme</b>
</a>

<a class="item" href="#coming-soon">
  <i class="cubes icon"></i><b>50 Shades of Grey</b><br><b>Theme</b>
</a>

  <a class="item" href="#coming-soon">
    <i class="cubes icon"></i> <b>Show Me Sherlock</b><br><b>Extension</b>
  </a>      
    </div>
 </div>
</div>
-->
 

</div>

<div class="ui fixed inverted main menu">
  <div class="container">
    <a class="launch item">
      <i class="content icon"></i>
    </a>
    <div class="right menu">
      <div class="vertically fitted borderless item">
        <iframe class="github" src="http://ghbtns.com/github-btn.html?user=rayantony&amp;repo=chrome-free&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" height="20" scrolling="0" width="100"></iframe>        
      </div></div>
      <a class="popup icon music item" data-content="Play Music">
        <i class="alternate music icon"></i>
      </a>
      <a class="popup icon twitter item" data-content="view twitter profile" href="https://twitter.com/rayanthonyrcc">
        <i class="alternate twitter icon"></i>
      </a>
      <a class="popup icon github item" data-content="View project on GitHub" href="https://github.com/rayrc">
        <i class="alternate github icon"></i>
      </a>
      <div class="ui language dropdown item" id="languages" data-content="Select Language">
        <i class="world icon"></i>
        <div class="menu">
	  <div class="item" data-percent="100" data-value="en" data-english="English">English</div>
        </div>
      </div>
    </div>
  </div>
<div class="pusher">
<div class="full-height">
 <div class="following bar">
  <div class="ui container">
    <div class="ui large inverted secondary network menu">
      <div class="item">
        <div class="ui logo shape">
          <div class="sides">
            <div class="active ui side">
            <img class="ui image" src="https://clientwindows.com/icon.png">
            </div>
          </div>
        </div>
      </div>
      <a class="view-ui item">
        <i class="sidebar icon"></i> Menu
      </a>
      <div class="right menu">
        <div class="item">        
	 <iframe allowtransparency="true" src="//platform.twitter.com/widgets/follow_button.html?screen_name=rayanthonyrcc" style="width:236px; height:20px;" class="twitter-follow-button twitter-follow-button" frameborder="0" scrolling="no">
	  </iframe>
         <iframe data-url="http://rayanthony.io" src="http://platform.twitter.com/widgets/tweet_button.a9a07b811338df26287681bd6727fd0a.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Frayanthony.io%2Fextensions%2Findex.html&amp;size=m&amp;text=Ray%20Anthony%27s%20extensions%20are%20kinda%20cool!&amp;time=1472492809548&amp;type=share&amp;url=http%3A%2F%2Frayanthony.io&amp;via=rayanthonyrcc" title="Twitter Tweet Button" style="position: static; visibility: visible; width: 60px; height: 22px;" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" allowtransparency="true" id="twitter-widget-0" frameborder="0" scrolling="no"></iframe>
          <script src="https://platform.twitter.com/widgets.js" id="twitter-wjs"></script><script type="text/javascript">
          window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
          </script>
          <iframe class="github" src="http://ghbtns.com/github-btn.html?user=rayrc&amp;&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" height="20" scrolling="0" width="100"></iframe>         
        </div>
        <div class="ui floating dropdown link item" id="search">
          <i class="world icon"></i>
          <div class="text">rayantony</div>
          <div class="menu">
            <div class="header">Search gituser</div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input placeholder="list git users..." type="text">
            </div>
<div class="scrolling menu">
  <div class="item" data-percent="100" data-value="rayantony" data-text="ray antony" data-english="English">
    <span class="gituser">rayantony</span>
    rayantony
  </div>
  <div class="item" data-percent="94" data-value="rayrc" data-text="rayrc" data-english="English">
    <span class="gituser">rayrc</span>
    rayrc
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

