<!DOCTYPE html>
<html lang="en">
{% include head2.html %}
<body id="example" class="theme-color-0d index pushindex pushable" ontouchstart="">
  <div style="" class="ui vertical inverted sidebar menu left" id="toc">
  	{% include sidebar2.html %}

  <div class="item">
    <a class="ui logo huge icon image" href="/">
      <img src="/extensions/cwicon.png">
    </a>
      <a href="/extensions/index.html">
        <b> Ray's Extensions</b>
      </a>
  </div>




  <a class="item" href="/extensions/IE-Sucks/index.html">
    <i class="download icon"></i> <b>IE Sucks Bar</b><br><b>Chrome Extension</b>
  </a>

  <a class="item" href="https://chrome.google.com/webstore/detail/xframe-assassin-by-x-ray/nigpljchmlcjkhbglkdimgaplklombph">
    <i class="cubes icon"></i> <b>XFrame Assassin</b><br><b>Chrome Extension</b>
  </a>
  <a class="item" href="http://rayanthony.io/xframeassassin/assassintest.html">
    <i class="download icon"></i> <b>Assassin Test</b><br><b>(health check)</b>
 
 </a>
<a class="item" href="https://chrome.google.com/webstore/detail/pink-floyd-the-wall-total/nbgcfebpdidohabcceopligemfigkche">
  <i class="cubes icon"></i><b>Pink Floyd</b><br><b>Theme</b>
</a>
<!--
<div class="item">
  <div class="ui small inverted header">Coming Soon</div>
  <div class="menu">

<a class="item" href="#coming-soon">
  <i class="cubes icon"></i><b>Rolling Stones</b><br><b>Theme</b>
</a>

<a class="item" href="#coming-soon">
  <i class="cubes icon"></i><b>50 Shades of Grey</b><br><b>Theme</b>
</a>

  <a class="item" href="#coming-soon">
    <i class="cubes icon"></i> <b>Show Me Sherlock</b><br><b>Extension</b>
  </a>      
    </div>
 </div>
</div>
-->
 

</div>

<div class="ui fixed inverted main menu">
  <div class="container">
    <a class="launch item">
      <i class="content icon"></i>
    </a>
    <div class="right menu">
      <div class="vertically fitted borderless item">
        <iframe class="github" src="http://ghbtns.com/github-btn.html?user=rayantony&amp;repo=chrome-free&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" height="20" scrolling="0" width="100"></iframe>        
      </div></div>
      <a class="popup icon music item" data-content="Play Music">
        <i class="alternate music icon"></i>
      </a>
      <a class="popup icon twitter item" data-content="view twitter profile" href="https://twitter.com/rayanthonyrcc">
        <i class="alternate twitter icon"></i>
      </a>
      <a class="popup icon github item" data-content="View project on GitHub" href="https://github.com/rayrc">
        <i class="alternate github icon"></i>
      </a>
      <div class="ui language dropdown item" id="languages" data-content="Select Language">
        <i class="world icon"></i>
        <div class="menu">
	  <div class="item" data-percent="100" data-value="en" data-english="English">English</div>
        </div>
      </div>
    </div>
  </div>

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
content to avoid any CSS collisions with our real content. -->
<div class="wrap">
<div class="masthead segment bg12">
<div class="ui container">
<h3 class="masthead-title">
<a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
<small>{{ site.tagline }}</small>
</h3>
</div>
<script src="https://platform.twitter.com/js/button.369579b2450be1b134e6754cd8501155.js" async="" charset="utf-8" type="text/javascript"></script>
<div class="container content">
{{ content }}
</div>
</div></div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script>
(function(document) {
var toggle = document.querySelector('.sidebar-toggle');
var sidebar = document.querySelector('#sidebar');
var checkbox = document.querySelector('#sidebar-checkbox');
document.addEventListener('click', function(e) {
var target = e.target;
if(!checkbox.checked ||
sidebar.contains(target) ||
(target === checkbox || target === toggle)) return;
checkbox.checked = false;
}, false);
})(document);
</script>
<script src="//semantic-ui.com/javascript/library/easing.js"></script>
<script src="//semantic-ui.com/javascript/library/typing.js"></script>
<script src="//semantic-ui.com/dist/semantic.min.js"></script>
<script src="http://rayanthony.io/extensions/javascript/docs.js"></script>
<script src="http://rayanthony.io/extensions/javascript/home.js"></script>
<script src="http://semantic-ui.com/javascript/docs.js"></script>
<script src="http://semantic-ui.com/javascript/home.js"></script>
<script>
window.less = {
async : true,
environment : 'production',
fileAsync : false,
onReady : false,
useFileCache : false
};
</script>
<script src="http://semantic-ui.com/javascript/library/less.min.js"></script>
<iframe style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;" allowfullscreen="true" allowtransparency="true" id="rufous-sandbox" frameborder="0" scrolling="no"></iframe>

<script>
  (function () {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  }());
</script>

<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script src="https://d301sr5gafysq2.cloudfront.net/720b52fc308b/dist/webpack/common.js"></script>
<script src="https://d301sr5gafysq2.cloudfront.net/720b52fc308b/dist/webpack/snippets.js"></script>
</body>
</html>
